html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    line-height: 1.15;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.15;
}

.wrapper {
    background-color: #20232a;
}

.wrapper nav {
    margin: auto;
    max-width: 1024px;
}

.bg-dark1 {
    background-color: #20232a;
}

.navbar .navbar-brand {
    font-weight: 700;
    margin-right: 10px;
    color: #61dafb;
    -webkit-box-align: center;
}

.navbar-dark1 a {
    color: #ffffff;
}

.navbar-dark1 .navbar-collapse .navbar-nav .nav-item a {
    font-size: 18px;
    font-weight: 300;
}

.navbar-dark1 .navbar-collapse .navbar-nav .nav-item a:hover {
    color: #61dafb;
}

.navbar-dark1 .navbar-collapse .dropdown-menu a {
    color: #20232a;
}

.navbar-dark1 .navbar-collapse .navbar-nav .nav-item {
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.css-33zy79 {
    min-width: 100px;
    /* display: flex;
    padding-left: 0.25rem; */
    /* padding-right: 0.25rem; */
    padding-right: 3.25rem;
    /* -webkit-flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center; */
}

.css-7dpbpx {
    width: 100%;
    appearance: none;
    background: transparent;
    border: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    padding: 4px 4px 4px 29px;
    background-image: url(/search.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 4px;
    -moz-appearance: none;
}

.ds-input:focus {
    background-color: #282c34;
    border-radius: 4px;
}

.jumbotron {
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    border-radius: 0px;
}

.jumbotron .container h1 {
    margin: 0px;
    /* font-size: 9.5vmin; */
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-style: normal;
    color: #61dafb;
}

.jumbotron .container p.lead {
    /* font-size: 4vmin; */
    font-size: 30px;
    color: #ebebeb;
    letter-spacing: 0.01em;
    font-weight: 200;
    /* padding-top: 20px; */
}

/* Call to Action */
.jumbotron .container p {
    /* font-size: 2.7vmin; */
    font-size: 30px;
}

.jumbotron .container .btn-action {
    /* font-size: 1.4vmax; */
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 0px;
    background-color: #61dafb;
    color: #000000;
    padding: 10px 25px;
}

.jumbotron .container .action-to {
    /* font-size: 1.4vmax; */
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    color: #61dafb;
    padding-left: 15px;
    padding-right: 7px;
}

.jumbotron .container .action-to:hover {
    color: #ffffff;
}
.jumbotron .container .btn-action:hover {
    color: #000000;
    background-color: #ffffff;
}

.my-card {
    margin-left: 0;
    /* display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -webkit-flex: 0 1 33%; */
}

.my-card .mycard-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #6d6d6d;
    padding-top: 0;
    font-weight: 300;
    line-height: 1.3;
}

.my-card p:first-child {
    margin-top: 0;
}

.my-card p {
    font-size: 17px;
    line-height: 1.7;
    max-width: 42em;
}

.my-card p {
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.7;
    max-width: 42em;
}

.call-to-action {
    background: #282c34;
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 25px;
}

.call-to-action .btn-action {
    /* font-size: 1.4vmax; */
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 0px;
    background-color: #61dafb;
    color: #000000;
    padding: 10px 25px;
}
.call-to-action .btn-action:hover {
    background-color: #ffffff;
}

.call-to-action .action-to {
    /* font-size: 1.4vmax; */
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    color: #61dafb;
    padding-left: 15px;
    padding-right: 7px;
}
.call-to-action .action-to:hover {
    color: #ffffff;
}

footer {
    background-color: #20232a;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 50px;
    font-weight: 300;
}

footer .copyright a {
    font-weight: 500;
}

footer .title {
    /* font-size: 19px; */
    /* font-size: 1.4vmax; */
    /* margin-top: 3px;
    margin-bottom: 23px;
    /* font-weight: 700; */
    color: #999;
    /* text-shadow: 0px 3px 3px #282c34; */
    /* Copy Paste */
    font-size: 14px;
    font-weight: 700;
    line-height: 3;
    text-transform: uppercase;
    text-align: start;
    letter-spacing: 0.08em;
}

footer a {
    /* font-size: 1.2vmax; */
    color: #ffffff;
    letter-spacing: 0.03em;
    /* font-weight: 300; */
    line-height: 1;
}

footer a:hover {
    color: #61dafb;
    text-decoration: none;
}

footer .subscribe {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

footer .subscribe:hover {
    color: #fff;
    background-color: #d43f3a;
}

footer .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

/* GLOBAL */

.jumbotron {
	height: 320px;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0 -280px;
	overflow: hidden;
    position: relative;
}
.jumbotron img{
	width: 200px;
	border: 5px solid #ddd;
}

.jumbotron h1 {
    font-size: 63px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    /* font-weight: 200; */
}

.jumbotron h1, .jumbotron p {
	color: rgba(255,255,255,.8);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* hr {
	width: 250px;
	border-top: 3px solid #999;
} */

.link-primary {
    color: #5c94e7;
}
.link-primary:hover {
    text-decoration: none;
    color: #427bd1;
}

.link {
    color: #e7615c;
}
.link:hover {
    text-decoration: none;
    color: #d43f3a;
}

.mycard-title {
    font-size: 18px;
    margin-bottom: 20px;
    color: #6d6d6d;
}

.user-logedin {
    margin: auto;
    color: #ffffff;
    font-weight: 300;
}

.img-thumbnail {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:500px !important;
    border: none;
}

.thumb123 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:300px !important;
    border: none;
}

.thumb128 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:128px !important;
    border: none;
}

.thumb200 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:200px !important;
    border: none;
}

.thumb-matchparent {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width:100% !important;
    border: none;
}

.btn-action {
    /* font-size: 1.4vmax; */
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 1px;
    background-color: #85e2fb;
    color: #000000;
    padding: 10px 25px;
    outline: none;
    border: none;
}

.btn-action:hover {
    color: #000000;
    background-color: #61dafb;
}

nav .navbar-nav .active a.nav-link {
    color: #61dafb;
    background-color: #1a1c22;
    border-radius: 2px;
}

.btn-default {
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}
.btn-default:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,.35);
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058, #28a745 90%);
}
.btn-success:hover {
    background-color:  #269f42;
    background-image: linear-gradient(-180deg, #2fcb53, #269f42 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,.5);
}

.btn-info1{
    color: #fff;
    background-color: #17a2b8;
    background-image: linear-gradient(-180deg, #29c0d8, #17a2b8 90%);
}
.btn-info1:hover{
    background-color:  #17a2b8;
    background-image: linear-gradient(-180deg, #29c0d8, #149aaf 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,.5);
    color: #fff;
}
/* LOGIN PAGE */
.form-heading {
    margin-bottom: 30px;
}

.signin-form {
    /* background-color: #eaeaea; */
    padding: 20px;
    box-shadow: 0px 1px 8px #adaeb3;
    border: 1px solid #bcbec2;
}

/* DISPLAYING USER ON TOPBAR */
.thumb32 {
    width: 32px !important;
    height: 32px !important;
}
.thumb64 {
    width: 64px !important;
    height: 64px !important;
}
.img-circle {
    border-radius: 50%;
}

/* PRODUCTS */
.products-section {
    background-color: #282c34;
}

.products-section p {
    color: #999;
}

.products-section .mycard-title {
    color: #61dafb;
}

.label-info {
    width: 16px;
    border-radius: 1px;
    color: #ffffff;
    background-color: #3a96d4;
}

/* CHECKOUT */
.slip-box {
    background-color: #eaeaea;
    padding: 20px;
    box-shadow: 0px 2px 8px #8a8b8f;
}

/*  FOOTER */
.copyright-block p {
    color: #999;
    font-weight: 400;
}

/* Statistics-block */
.statistics-block{
    padding: 20px;
}

.statistics-block .number{
    font-size: 38px;
    font-weight: 200;
}

/* iadmin-block */
.iadmin-block {
    padding: 20px;
}

.recentpost-block {
    padding: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.iadmin-block, .recentpost-block, .statistics-block{
    box-shadow: 0px 0px 2px #b8bbbd;
}

.iadmin-block h4 {
    color: #20232a;
}
.iadmin-block p {
    color: #20232a;
}

.recentpost-block p.title a {
    color: #3a96d4;
    font-size: 17px;
    margin-bottom: 0;
}
.recentpost-block p.tags {
    color: #20232a;
    margin-bottom: 0;
    font-size: 13px;
}
.recentpost-block span.time {
    color: rgb(180, 180, 180);
    font-size: 11px;
}

.newsblog {
    padding: 20px;
    box-shadow: 0px 0px 2px #b8bbbd;

}

/* USER PAGE */
.userinfo-block {
    margin-top: 10px;
    padding: 20px;
}

.userinfo-block img {
    border-radius: 2px;
}

.ux-block {
    padding: 20px;
    margin-top: 20px;
}

.my-card1 {
    border-radius: 4px;
    /* padding: 10px; */
    line-height: 01.62em;
    /* margin-bottom: 11px; */
}
.my-card1 .mycard-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #6d6d6d;
    padding-top: 0;
    font-weight: 300;
    line-height: 1.3;
}

.my-card.withborder{
    border: 1px solid #d1d1d1;
}
.my-card1.withborder{
    border: 1px solid #d1d1d1;
}

.my-card1 span.heading {
    margin-left: 4px;
    font-size: 18px;
    border-bottom: 2px solid #61dafb;
}

.userinfo-block .nodisplay {
    display: none;
}

.display {
    display: unset;
}